@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.home-container h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #062847;
    margin-bottom: 25px;
}

.home-container p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-bottom: 25px;
}